# Xcode
#

.versions
.build/
xcuserdata
Data/
Pods/
FlexLayout.xcodeproj/project.xcworkspace/xcuserdata

# Carthage
Carthage/Build/.*.version
Carthage/Build/iOS/*.dSYM
Carthage/Build/iOS/*.bcsymbolmap
Carthage/Build/tvOS
Carthage/Checkouts

# Buck
/buck-cache/
/buck-out/
/.buckconfig.local
/.buckd
/gentest/test.html
.buckversion

fastlane/report.xml
fastlane/test_output

# SwiftPM
swiftpm/

# Mac
.DS_Store